# SPDX-FileCopyrightText: 2026 Alin-Petru Roșu <rosualinpetru@gmail.com>
# SPDX-License-Identifier: Apache-2.0
__pycache__/
*.py[cod]
*.so
*.o
build/
dist/
*.egg-info/

.cache/

.coverage/

.venv/
.vscode/
.idea/
.DS_Store
.env*
