# SPDX-FileCopyrightText: 2026 Alin-Petru Roșu <rosualinpetru@gmail.com>
# SPDX-License-Identifier: Apache-2.0
root = .
filter = modules/.*/c/src/
merge-mode-functions = merge-use-line-max
gcov-suspicious-hits-threshold = 0
